### Import library
Nous allons importer les bibliothèque numpy et pandas qui sont necessaire pour le traitement.

In [2]:
import pandas as pd
import numpy as np

### Import Data
Nous allons importer les données depuis le répertoire RAwData pour enfin les traiter et transformer

In [125]:
n=['TimesTamp', 'ECP', 'Antenna', 'RSSI', 'FP']
#p='../2-TransformedData/dataFinale/mergedFiles/all-3/p25.csv'
p='../2-TransformedData/dataFinale/mergedFiles/all-3/p27.csv'
#p='../2-TransformedData/dataFinale/mergedFiles/all-3/p30.csv'
d=','
def importData(path, delimit,cols):
    return pd.read_csv(path, sep=delimit,names=cols)

data=importData(p,d,n)

print(data.shape)
data.describe()

(10701, 5)

          TimesTamp       Antenna          RSSI            FP
count  1.070100e+04  10701.000000  10701.000000  10701.000000
mean   1.581422e+15      2.048407    -59.759976      0.274460
std    5.649855e+09      0.974772      4.015097      0.446263
min    1.581414e+15      1.000000    -75.500000      0.000000
25%    1.581415e+15      1.000000    -62.500000      0.000000
50%    1.581421e+15      2.000000    -60.000000      0.000000
75%    1.581428e+15      3.000000    -57.500000      1.000000
max    1.581430e+15      4.000000    -42.000000      1.000000

### TYPAGE DES CHAMPS
Nos allons typer les différentes colonnes du dataSet avec les types primaires de python

In [126]:
def typage(data):
    data['ECP']=data['ECP'].astype(str)
    data['TimesTamp']=data['TimesTamp'].astype('int64')
    data['RSSI']=data['RSSI'].astype('float64')
    data['Antenna']=data['Antenna'].astype('int64')
    data['FP']=data['FP'].astype('int64')
    return data

data=typage(data)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10701 entries, 0 to 10700
Data columns (total 5 columns):
TimesTamp    10701 non-null int64
ECP          10701 non-null object
Antenna      10701 non-null int64
RSSI         10701 non-null float64
FP           10701 non-null int64
dtypes: float64(1), int64(3), object(1)
memory usage: 418.1+ KB

### Build DataSet
Nous allons contruire la dataFrame avec les colonnes

In [127]:
from scipy.stats import variation 

def generateDataSet(data, groupedBy):
    grouped_df = data.groupby(groupedBy) #On groupe les données par ..."Etiquetes"
    
    dataSet = pd.DataFrame({}) #Création d'une nouvelle dataFrame
    
    #Création des variables intermédiaire pour la récupération des champs
    ecp=pd.Series(grouped_df.ECP.unique().index,name="ECP")
    fp=pd.Series(grouped_df.FP.max(),name="FP")
    rc= pd.Series(grouped_df.ECP.count(),name="readcount")
    minRSSI= pd.Series(grouped_df.RSSI.min(),name="minRssi")
    maxRSSI= pd.Series(grouped_df.RSSI.max(),name="maxRssi")
    mean=pd.Series(grouped_df.RSSI.mean(),name="meanRssi")
    startTime=pd.Series(grouped_df.TimesTamp.min(),name="startTime")
    endTime=pd.Series(grouped_df.TimesTamp.max(),name="endTime")
    diff=pd.Series(grouped_df.RSSI.diff,name="difference")
    
    #Mise à jour des champs de la dataFrame
    dataSet['ECP']=ecp.values
    dataSet['RC']=rc.values
    dataSet['MIN']=minRSSI.values
    dataSet['MAX']=maxRSSI.values
    dataSet['MEAN']=mean.values
    dataSet['START']=startTime.values
    dataSet['END']=endTime.values
    dataSet['DURATION']=endTime.values-startTime.values
    cv={}
    a1={}
    a2={}
    a3={}
    a4={}
    for key, item in grouped_df:
        cv[key]=variation(grouped_df['RSSI'].get_group(key).values,axis=0)
        a1[key]=0
        a2[key]=0
        a3[key]=0
        a4[key]=0
        for a in grouped_df['Antenna'].get_group(key).values:
            if(a==1): a1[key]+=1
            if(a==2): a2[key]+=1
            if(a==3): a3[key]+=1
            if(a==4): a4[key]+=1
                
    dataSet['CV']=pd.Series(cv).values
    dataSet['A1']=pd.Series(a1).values
    dataSet['A2']=pd.Series(a2).values
    dataSet['A3']=pd.Series(a3).values
    dataSet['A4']=pd.Series(a4).values
    dataSet['FP']=fp.values
    
    return dataSet

dataSet=generateDataSet(data,'ECP')
print(len(dataSet))
dataSet.tail(10)

1776

,ECP,RC,MIN,MAX,MEAN,START,END,DURATION,CV,A1,A2,A3,A4,FP
1766,E2806890000000001834532987,2,-74.5,-73.5,-74.000000,1581429693832194,1581429693893403,61209,-0.006757,0,2,0,0,1
1767,E2806890000000001834544A14,60,-69.5,-67.0,-67.816667,1581413567640130,1581413577432270,9792140,-0.007960,0,0,60,0,1
1768,E2806890000000001834545B14,36,-68.5,-67.5,-67.930556,1581413567753256,1581413577205521,9452265,-0.004303,0,0,0,36,1
1769,E2806890000000001834580486,2,-69.0,-68.5,-68.750000,1581429820912433,1581429820962131,49698,-0.003636,2,0,0,0,1
1770,E2806890000000001834580487,15,-65.0,-61.0,-63.866667,1581429688554361,1581429691805600,3251239,-0.016036,2,7,6,0,1
1771,E2806890000000001834580B14,2,-71.0,-70.5,-70.750000,1581413567566692,1581413567614503,47811,-0.003534,0,2,0,0,1
1772,E2806890000000001834593E14,60,-68.0,-65.0,-67.066667,1581413567726577,1581413577515800,9789223,-0.008765,0,0,0,60,1
1773,E2806890000000001834594414,2,-63.5,-63.0,-63.250000,1581413568084339,1581413568129941,45602,-0.003953,0,0,0,2,1
1774,E28068900000000018345CD586,6,-68.5,-66.5,-67.333333,1581429820890951,1581429823700013,2809062,-0.011070,4,2,0,0,1
1775,E28068900000000018345CD587,10,-71.0,-66.5,-68.350000,1581429689995638,1581429693863681,3868043,-0.023828,0,9,1,0,1

### Export Data
Nous allons sauvegarder les donées dans un fichier .csv

In [128]:
import time
def exportData(data, path):
    data.to_csv(path, index = None, header=False)

## Export allinOne
Exporter l'ensemble des daonnées dans un seul.

In [129]:
tm = time.strftime("%Y-%b-%d-%H_%M_%S")
#path='../3-DataSet/dataFinale/p25/dataSet_p25_'+tm+'.csv'
#path='../3-DataSet/dataFinale/p25/dataSet_p25.csv'
#path='../3-DataSet/dataFinale/p27/dataSet_p27.csv'
path='../3-DataSet/dataFinale/p30/dataSet_p30.csv'
exportData(dataSet, path)

### Split Data
Nous allons découper les données en deux, 80% des trainSets et 20% des tesSets

In [123]:
def splitDataLE20(data):
    dataSet_np = np.random.rand(len(data)) <0.8
    trainSet=data[dataSet_np]
    testSet=data[~dataSet_np]
    return trainSet, testSet

from sklearn.model_selection import train_test_split
def sliptDataE20(data):
    X = data.iloc[:, :-1].values
    y = data['FP'].values
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)
    trainSet=pd.DataFrame(X_train)
    trainSet[13]=y_train
    
    testSet = pd.DataFrame(X_test)
    testSet[13] = y_test
    return trainSet, testSet

### Export Train & Test
Nous allons exporter les données découpées en traint et test

In [124]:
pathTrain='../3-DataSet/dataFinale/p30/traintSet_p30.csv'
pathTest='../3-DataSet/dataFinale/p30/testSet_p30.csv'
trainSet, testSet=sliptDataE20(dataSet)
#trainSet, testSet=splitDataLE20(dataSet)

exportData(trainSet, pathTrain)
exportData(testSet, pathTest)

In [80]:
tm = time.strftime("%Y-%b-%d-%H_%M_%S")
def importData2(path):
    #columnNames=["ECP","RC","MIN","MAX","MEAN","START","END","DURATION","CV","A1","A2","A3","A4","FP"]
    columnNames=["RC","MIN","MAX","MEAN","START","END","DURATION","CV","A1","A2","A3","A4","FP"]
    delimit=','
    data = pd.read_csv(path, names=columnNames, sep=delimit)
    #data = data.drop(columns="ECP")
    return data
you_data=importData2('../2-TransformedData/dataSets_you.csv')

trainSet, testSet = sliptDataE20(you_data)
#trainSet, testSet = sliptDataE20(dataSet)
#trainSet, testSet = splitDataLE20(dataSet)

pathTrain='../3-DataSet/trainSet_you_'+tm+'.csv'
exportData(dataSet, pathTrain)

pathTest='../3-DataSet/testSet_you_'+tm+'.csv'
exportData(dataSet, pathTest)